/* -----------Page style------------- */
/*----------- index/introduction page -------*/
/* Section-hero */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.section-hero-frontpage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  padding: 0 3.2rem;
}

.header-text-box {
  align-self: center;
}

.header-text {
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  line-height: 1.7;
}

/* Section -Feature */
.features-icon {
  stroke: #fa5252;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 1.6rem;
}

.features-title {
  margin-bottom: 1.6rem;
  font-size: 2rem;
}

.features-text {
  font-size: 1.8rem;
  line-height: 1.7;
}

/*section - testimonial */
.section-testimonial {
  background-color: #fa5252;
  color: #fff;
  border-radius: 1.2rem;
  margin-top: 4.8rem;
}
.grid-3-cols > img {
  align-self: stretch;
}
.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 1.8rem;
  line-height: 1.7;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 2.4rem;
}

/* Section-tickets */
.ticket {
  box-shadow: 0px 2rem 3rem 0px rgba(73, 80, 87, 0.1);
  border-radius: 1.2rem;
  overflow: hidden;
}
.ticket img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ticket-box {
  padding: 2.4rem;
}

.ticket-details {
  list-style: none;
  margin-bottom: 2.4rem;
}

.ticket-details li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.ticket-details li:last-child {
  margin-bottom: 0;
}

.ticket-icon {
  stroke: #fa5252;
  width: 26px;
  height: 26px;
}
.ticket-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
/* *******Media query to adapt to small screen around 960px***** */

@media (max-width: 60em) {
  .section-hero-frontpage {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .header-text-box {
    margin-bottom: 4.8rem;
  }
  .intro-img {
    width: 70%;
    justify-self: center;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 1.6rem;
  }
  .ticket-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }
}
