/* things-to-do/attractions page */

.hero-background-container--attraction {
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(34, 34, 34, 0.8)
    ),
    url(../img/attractions/attractions-background.jpg);
  background-size: cover;
  position: relative;
}

.hero-container--attraction {
  width: 1200px;
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.hero-container-inner--attraction {
  width: 100%;
}
.hero-container-inner--attraction h1 {
  font-size: 7.2rem;
  text-transform: uppercase;
  letter-spacing: 1.2;
}
.hero-attraction-text {
  font-size: 2.4rem;
  line-height: 1.8;
  font-weight: 500;
  margin-bottom: 2.4rem;
}
/* Testimonials section */

.section-testimonials--attraction {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials-container--attraction {
  padding: 9.6rem;
}
.testimonials--attraction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img--attraction {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text--attraction {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name--attraction {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  /* border-radius: 50%; */
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
/*attractions section  */
.section-attraction {
  padding: 9.6rem 0;
}
.attraction-img {
  width: 80%;
  border-radius: 1.1rem;
}

.attraction-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.attraction-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.attraction-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* **********Media query************ */
@media (max-width: 60em) {
  .hero-background-container--attraction {
    height: 50vh;
    transform: translateY(35rem);
  }

  .testimonials-container--attraction {
    padding: 6.4rem;
    column-gap: 6.4rem;
  }
  .section-testimonials--attraction {
    grid-template-columns: 1fr;
    transform: translateY(35rem);
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .hero-container-inner--attraction {
    text-align: center;
  }
  .attraction-number {
    font-size: 7.2rem;
  }
  .grid {
    display: grid;
    gap: 8rem 3.2rem;
  }
}
